/* Estilos padrão para todas as telas */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

/* Estilos específicos para telas com largura mínima de 600 pixels */
@media only screen and (min-width: 600px) {
    header {
        background-image: url('public/images/image-5.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 14rem;
        gap: 1rem;
    }

    .frist {
        display: flex; /* Alteração: Removido "inline-" para permitir a flexibilidade */
        flex-direction: row;
       
        fill: #000;
        width: 9.875rem;
        height: 1.5rem;
        font: 1em sans-serif;
    }

    .frist img {
        width: 15rem;
        height: auto;

        position: relative;
        left: 9rem;
        top: 4rem;
      
    }
    ul{
        display: flex;
        flex-direction: row;
        gap: 2.5rem;

        position: relative;
        left: 25rem;
        top: 4rem;
    }

.cadastro{
    
    display: flex;
    align-items: center;
    gap: 0.7rem;
   
    position: relative;
    left: 40rem;
    top: 4rem;
}
    .sign-up{
        display: flex;
        width: 4.1rem;
        padding: 0.625rem;
        border-radius: 1.875rem;
        border: 2px solid var(--Primria-rosa, #F72585);
        background: rgba(240, 231, 235, 0.00);
        justify-content: center;
        
        gap: 0.625rem;
    }
  
}
